VITE_BILLING_URL=/pricing
VITE_LS_CHECKOUT_URL_PRO_MONTHLY=https://localpdf.lemonsqueezy.com/checkout/buy/a4e7f2fe-894c-48cb-8848-f8afc9096f33
VITE_LS_CHECKOUT_URL_PRO_YEARLY=https://localpdf.lemonsqueezy.com/checkout/buy/7deb93eb-40e9-4c4c-9e45-e5de9d7b7ccf
VITE_PUBLIC_JWT_KEY=
LEMON_SQUEEZY_API_KEY=
LEMON_SQUEEZY_WEBHOOK_SECRET=
JWT_PRIVATE_KEY=
LEMON_SQUEEZY_PRO_MONTHLY_PRODUCT_IDS=917519
LEMON_SQUEEZY_PRO_MONTHLY_VARIANT_IDS=1442622
LEMON_SQUEEZY_PRO_YEARLY_PRODUCT_IDS=917519
LEMON_SQUEEZY_PRO_YEARLY_VARIANT_IDS=1442621
VITE_V6_PAGE_COUNT_FALLBACK_MODE=limited
PUBLIC_GA_MEASUREMENT_ID=
PUBLIC_ENABLE_VERCEL_ANALYTICS=false
PUBLIC_POSTHOG_KEY=
PUBLIC_POSTHOG_UI_HOST=https://eu.posthog.com
POSTHOG_PROJECT_API_KEY=
POSTHOG_HOST=https://eu.i.posthog.com
PUBLIC_APP_URL=
